# Analysis of Food Store Accessibility in Erie County, New York
## Erin Gregoire
## Fall 2024

In [2]:
import pandas as pd
import sqlite3
import ast

### SQL Database Design

In this step, I have created a database called "Erie County DB" to hold all of the data for this project. This step also details the process of normalization

In [74]:
conn = sqlite3.connect('eriecountydb')
cur = conn.cursor()

In [75]:
store_data = pd.read_csv('erie_stores.csv')
income_data = pd.read_csv('erie_incomes.csv')

One challenge that was unanticipated was that there is the same zipcode but called multiple different town names or if a town name was mispelled in the original data. Here I have removed any duplicate names that have appeared.

In [77]:
unique_pairs = []
zips = store_data['Zipcode']
cities = store_data['City']
pairs = zip(zips, cities)

for pair in pairs:
    if pair not in unique_pairs:
        unique_pairs.append(pair)

In [78]:
unique_pairs.remove((14043, 'LANCASTER'))
unique_pairs.remove((14085, 'LAKEVIEW'))
unique_pairs.remove((14150, 'TONWANDA'))
unique_pairs.remove((14206, 'CHEEKTOWAGA'))
unique_pairs.remove((14211, 'CHEEKTOWAGA'))
unique_pairs.remove((14215, 'CHEEKTOWAGA'))
unique_pairs.remove((14217, 'BUFFALO'))
unique_pairs.remove((14218, 'BUFFALO'))
unique_pairs.remove((14224, 'W SENECA'))
unique_pairs.remove((14219, 'BUFFALO'))
unique_pairs.remove((14221, 'BUFFALO'))
unique_pairs.remove((14223, 'BUFFALO'))
unique_pairs.remove((14225, 'BUFFALO'))
unique_pairs.remove((14226, 'BUFFALO'))
unique_pairs.remove((14227, 'BUFFALO'))
unique_pairs.remove((14228, 'BUFFALO'))
unique_pairs.remove((14221, 'AMHERST'))
unique_pairs.remove((14221, 'CLARENCE'))
unique_pairs.remove((14224, 'CHEEKTOWAGA'))
unique_pairs.remove((14224, 'BUFFALO'))

In [79]:
z = []
c = []
for p in unique_pairs:
    z.append(p[0])
    c.append(p[1])

#### Location Table
- Primary Key: Zipcode
- 1NF: Removed duplicated of town names so that data is atomic
- 2NF/3NF: N/A

In [81]:
cur.execute("DROP TABLE IF EXISTS Location")

In [82]:
cur.execute('''
        CREATE TABLE Location (
        Zipcode TEXT PRIMARY KEY,
        City TEXT)
        ''')

In [83]:
cur.executemany("""INSERT INTO Location (Zipcode, City) VALUES (?, ?)""", zip(z, c))

In [84]:
pd.read_sql_query('''SELECT * FROM Location''', conn)

   Zipcode      City
0    14202   BUFFALO
1    14001     AKRON
2    14213   BUFFALO
3    14220   BUFFALO
4    14222   BUFFALO
..     ...       ...
58   14070   GOWANDA
59   14219  BLASDELL
60   14025    BOSTON
61   14134   SARDINA
62   14261   AMHERST

[63 rows x 2 columns]

#### Establishment Type Table
- Primary Key: Establishment Code (Est_Code)
- 3NF: Establishment Type was given its own table to store the Establishment Type Data. Without its own table, there would be transitive dependency of the Establishment Type on the Establishment Code if remained connected to the Food Store table.
- 1NF/2NF: N/A

In [86]:
with open('establishments.json', 'r', encoding='utf-8') as file:
    est_data = json.load(file)

In [87]:
cur.execute("DROP TABLE IF EXISTS Establishment_Type")

In [88]:
cur.execute('''
        CREATE TABLE Establishment_Type (
        Est_Code TEXT PRIMARY KEY,
        Est_Type TEXT
        )
        ''')

In [89]:
cur.executemany("""INSERT INTO Establishment_Type (Est_Code, Est_Type) VALUES (?, ?)""", zip(list(est_data.keys()), list(est_data.values())))

In [90]:
pd.read_sql_query('''SELECT * FROM Establishment_Type''', conn)

  Est_Code               Est_Type
0        A                  Store
1        B                 Bakery
2        C      Food Manufacturer
3        D         Food Warehouse
4        H  Wholesale Manufactuer
5        K                Vehicle
6        W            Farm Winery
7        Y         Slaughterhouse

#### Food Store Table
- Primary Key: Store_ID
- Foreign Key: Zipcode, Establishment Code
- 1NF: Created Store_ID due to multiple stores having the same name. Establishment codes are split into multiple columns to remove multi-valued data
- 3NF: Establishment Type removed which was dependent on Establishment Code.
- 2NF: N/A

In [92]:
cur.execute("DROP TABLE IF EXISTS Food_Store")

In [93]:
cur.execute('''
        CREATE TABLE Food_Store (
        Store_ID INTEGER PRIMARY KEY,
        Store_Name TEXT,
        Zipcode TEXT,
        Store_Focus,
        Est_Code1 TEXT,
        Est_Code2 TEXT,
        Est_Code3 TEXT,
        Est_Code4 TEXT,
        UNIQUE (Store_ID),
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode),
        FOREIGN KEY (Est_Code1) REFERENCES Establishment_Type (Est_Code),
        FOREIGN KEY (Est_Code2) REFERENCES Establishment_Type (Est_Code),
        FOREIGN KEY (Est_Code3) REFERENCES Establishment_Type (Est_Code),
        FOREIGN KEY (Est_Code4) REFERENCES Establishment_Type (Est_Code)
        )
        ''')

In [94]:
info = list(zip(store_data['Food Store Name'], store_data['Zipcode'], store_data['Establishment Type']))

In [95]:
info2 = []
for tup in info:
    lst = ast.literal_eval(tup[2])
    info2.append(lst)

In [96]:
est_code1 = []
est_code2 = []
est_code3 = []
est_code4 = []
for code in info2:
    if len(code) == 1:
        est_code1.append(code[0])
        est_code2.append(None)
        est_code3.append(None)
        est_code4.append(None)
    elif len(code) == 2:
        est_code1.append(code[0])
        est_code2.append(code[1])
        est_code3.append(None)
        est_code4.append(None)
    elif len(code) == 3:
        est_code1.append(code[0])
        est_code2.append(code[1])
        est_code3.append(code[2])
        est_code4.append(None)
    elif len(code) == 4:
        est_code1.append(code[0])
        est_code2.append(code[1])
        est_code3.append(code[2])
        est_code4.append(code[3])

In [97]:
with open('storefocus1.txt', 'r') as f:
    focus_dat = f.read()

In [98]:
focus = focus_dat.strip()
focus = focus.replace('Ã¯Â»Â¿Convenience', 'Convenience')
focus = focus.split('\n')

In [99]:
cur.executemany("""INSERT INTO Food_Store (Store_Name, Zipcode, Store_Focus, Est_Code1, Est_Code2, Est_Code3, Est_Code4) VALUES (?, ?, ?, ?, ?, ?, ?)""", zip(store_data['Food Store Name'], store_data['Zipcode'], focus, est_code1, est_code2, est_code3, est_code4))

In [100]:
pd.read_sql_query('''SELECT * FROM Food_Store''', conn)

,Store_ID,Store_Name,Zipcode,Store_Focus,Est_Code1,Est_Code2,Est_Code3,Est_Code4
0,1,KABUL MARKET & BAKERY,14226,Convenience,A,None,None,None
1,2,MEGA BITES VENDING,14202,Other,A,C,None,None
2,3,REGANS VILLAGE DELI,14001,Convenience,A,C,None,None
3,4,GOLDEN BURMA ASIA FOODS,14213,Convenience,A,C,None,None
4,5,SOHO MARKET,14220,Other,A,C,None,None
...,...,...,...,...,...,...,...,...
1121,1122,RITE AID PHARMACY 03411,14086,Pharmacy,A,None,None,None
1122,1123,RITE AID 3521,14209,Pharmacy,A,None,None,None
1123,1124,ALS SHORT STOP GROCERY,14218,Convenience,A,C,None,None
1124,1125,CONSUMERS BEVERAGES,14075,Specialty,A,C,None,None
1125,1126,APLUS - MINI MARKET,14225,Convenience,A,C,None,None

#### Income Tables:
- Primary Key: Zipcode
- Foreign Key: Zipcode
- 2NF: Removed partial dependencies by creating a seperate table for each income bracket
- 1NF/3NF: N/A

In [102]:
income_data.columns

Index(['Zipcode', 'Size of adjusted gross income', 'Number of returns',
       'Number of single returns', 'Number of joint returns',
       'Number of head of household returns',
       'Percentage (Number of returns)'],
      dtype='object')

In [103]:
data = list(zip(income_data['Zipcode'], income_data['Size of adjusted gross income'], income_data['Number of returns'], income_data['Percentage (Number of returns)']))

In [104]:
data2 = []
for t in data:
    if t[0] in list(store_data['Zipcode']):
        data2.append(t)

In [105]:
total = []
under25 = []
_25to50 = []
_50to75 = []
_75to100 = []
_100to200 = []
above200 = []

for i in data2:
    if i[1] == 'Total':
        total.append(i)
    elif i[1] == '$1 under $25,000':
        under25.append(i)
    elif i[1] == '$25,000 under $50,000':
        _25to50.append(i)
    elif i[1] == '$50,000 under $75,000':
        _50to75.append(i)
    elif i[1] == '$75,000 under $100,000':
        _75to100.append(i)
    elif i[1] == '$100,000 under $200,000':
        _100to200.append(i)
    elif i[1] == '$200,000 or more':
        above200.append(i)

In [106]:
zip_total = []
num_total = []
for tot in total:
    zip_total.append(tot[0])
    num_total.append(tot[2])

##### Income Total Table
- Primary Key: Zipcode
- Foreign Key: Zipcode

In [108]:
cur.execute("DROP TABLE IF EXISTS Income_Total")

In [109]:
cur.execute('''
        CREATE TABLE Income_Total (
        Zipcode TEXT PRIMARY KEY,
        No_of_Returns INTEGER,
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode)
        )
        ''')

In [110]:
cur.executemany("""INSERT INTO Income_Total (Zipcode, No_of_Returns) VALUES (?, ?)""", zip(zip_total, num_total))

In [111]:
pd.read_sql_query('''SELECT * FROM Income_Total''', conn)

   Zipcode  No_of_Returns
0    14001           4880
1    14004           5540
2    14006           4650
3    14025           1590
4    14026            450
5    14030            750
6    14031           5310
7    14032           4710
8    14033           1240
9    14034            830
10   14043          12910
11   14047           3100
12   14051          10850
13   14052           9270
14   14055            730
15   14057           4180
16   14059           5000
17   14068           3620
18   14072          11320
19   14075          23380
20   14080           2110
21   14085           4050
22   14086          18680
23   14102            630
24   14111           1550
25   14127          16430
26   14134            150
27   14139           1180
28   14141           3790
29   14150          21730
30   14170           1220
31   14201           4870
32   14202           1790
33   14203           1040
34   14204           3560
35   14206           9370
36   14207          10230
37   14208           3970
38   14209           3460
39   14210           6300
40   14211           9250
41   14212           4690
42   14213           9630
43   14214           7680
44   14215          16470
45   14216          10990
46   14217          11650
47   14219           5940
48   14220          11650
49   14221          28090
50   14222           5930
51   14223          12220
52   14224          21970
53   14225          17810
54   14226          14690
55   14227          11910
56   14228          10350

##### Income Under 25k Table
- Primary Key: Zipcode
- Foreign Key: Zipcode

In [113]:
zip_under25 = []
num_under25 = []
perc_under25 = []
for u in under25:
    zip_under25.append(u[0])
    num_under25.append(u[2])
    perc_under25.append(round(u[3], 2))

In [114]:
cur.execute("DROP TABLE IF EXISTS Income_Under_25k")

In [115]:
cur.execute('''
        CREATE TABLE Income_Under_25k (
        Zipcode TEXT PRIMARY KEY,
        No_of_Returns INTEGER,
        Percentage REAL,
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode)
        )
        ''')

In [116]:
cur.executemany("""INSERT INTO Income_Under_25k (Zipcode, No_of_Returns, Percentage) VALUES (?, ?, ?)""", zip(zip_under25, num_under25, perc_under25))

In [117]:
pd.read_sql_query('''SELECT * FROM Income_Under_25k''', conn)

   Zipcode  No_of_Returns  Percentage
0    14001           1190       24.39
1    14004           1330       24.01
2    14006           1210       26.02
3    14025            340       21.38
4    14026            100       22.22
5    14030            190       25.33
6    14031           1320       24.86
7    14032           1150       24.42
8    14033            280       22.58
9    14034            210       25.30
10   14043           3180       24.63
11   14047            750       24.19
12   14051           2400       22.12
13   14052           2180       23.52
14   14055            170       23.29
15   14057           1020       24.40
16   14059           1090       21.80
17   14068            910       25.14
18   14072           2500       22.08
19   14075           5490       23.48
20   14080            470       22.27
21   14085            890       21.98
22   14086           4280       22.91
23   14102            140       22.22
24   14111            400       25.81
25   14127           3640       22.15
26   14134             40       26.67
27   14139            290       24.58
28   14141           1030       27.18
29   14150           5580       25.68
30   14170            250       20.49
31   14201           1870       38.40
32   14202            490       27.37
33   14203            320       30.77
34   14204           1590       44.66
35   14206           3410       36.39
36   14207           4290       41.94
37   14208           1900       47.86
38   14209            990       28.61
39   14210           2260       35.87
40   14211           4610       49.84
41   14212           2130       45.42
42   14213           3860       40.08
43   14214           2580       33.59
44   14215           7150       43.41
45   14216           2690       24.48
46   14217           2900       24.89
47   14219           1570       26.43
48   14220           3270       28.07
49   14221           6300       22.43
50   14222           1390       23.44
51   14223           2930       23.98
52   14224           5160       23.49
53   14225           4780       26.84
54   14226           3740       25.46
55   14227           3110       26.11
56   14228           2910       28.12

##### Income for 25k to 50k Table
- Primary Key: Zipcode
- Foreign Key: Zipcode

In [119]:
zip_25 = []
num_25 = []
perc_25 = []
for v in _25to50:
    zip_25.append(v[0])
    num_25.append(v[2])
    perc_25.append(round(v[3], 2))

In [120]:
cur.execute("DROP TABLE IF EXISTS Income_25k_to_50k")

In [121]:
cur.execute('''
        CREATE TABLE Income_25k_to_50k (
        Zipcode TEXT PRIMARY KEY,
        No_of_Returns INTEGER,
        Percentage REAL,
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode)
        )
        ''')

In [122]:
cur.executemany("""INSERT INTO Income_25k_to_50k (Zipcode, No_of_Returns, Percentage) VALUES (?, ?, ?)""", zip(zip_25, num_25, perc_25))

In [123]:
pd.read_sql_query('''SELECT * FROM Income_25k_to_50k''', conn)

   Zipcode  No_of_Returns  Percentage
0    14001           1170       23.98
1    14004           1310       23.65
2    14006           1280       27.53
3    14025            320       20.13
4    14026             90       20.00
5    14030            190       25.33
6    14031            920       17.33
7    14032            660       14.01
8    14033            240       19.35
9    14034            200       24.10
10   14043           3700       28.66
11   14047            810       26.13
12   14051           1520       14.01
13   14052           1610       17.37
14   14055            170       23.29
15   14057            910       21.77
16   14059            870       17.40
17   14068            580       16.02
18   14072           2130       18.82
19   14075           5230       22.37
20   14080            490       23.22
21   14085            670       16.54
22   14086           3690       19.75
23   14102            130       20.63
24   14111            400       25.81
25   14127           2840       17.29
26   14134             40       26.67
27   14139            220       18.64
28   14141            950       25.07
29   14150           6060       27.89
30   14170            240       19.67
31   14201           1660       34.09
32   14202            470       26.26
33   14203            270       25.96
34   14204           1140       32.02
35   14206           3360       35.86
36   14207           3950       38.61
37   14208           1340       33.75
38   14209           1020       29.48
39   14210           2290       36.35
40   14211           3280       35.46
41   14212           1700       36.25
42   14213           3440       35.72
43   14214           2130       27.73
44   14215           5700       34.61
45   14216           3030       27.57
46   14217           3190       27.38
47   14219           1810       30.47
48   14220           3580       30.73
49   14221           4750       16.91
50   14222           1550       26.14
51   14223           2990       24.47
52   14224           5530       25.17
53   14225           5730       32.17
54   14226           3340       22.74
55   14227           3430       28.80
56   14228           2510       24.25

##### Income for 50k to 75k Table
- Primary Key: Zipcode
- Foreign Key: Zipcode

In [125]:
zip_50 = []
num_50 = []
perc_50 = []
for w in _50to75:
    zip_50.append(w[0])
    num_50.append(w[2])
    perc_50.append(round(w[3], 2))

In [126]:
cur.execute("DROP TABLE IF EXISTS Income_50k_to_75k")

In [127]:
cur.execute('''
        CREATE TABLE Income_50k_to_75k (
        Zipcode TEXT PRIMARY KEY,
        No_of_Returns INTEGER,
        Percentage REAL,
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode)
        )
        ''')

In [128]:
cur.executemany("""INSERT INTO Income_50k_to_75k (Zipcode, No_of_Returns, Percentage) VALUES (?, ?, ?)""", zip(zip_50, num_50, perc_50))

In [129]:
pd.read_sql_query('''SELECT * FROM Income_50k_to_75k''', conn)

   Zipcode  No_of_Returns  Percentage
0    14001            830       17.01
1    14004            890       16.06
2    14006            820       17.63
3    14025            260       16.35
4    14026             90       20.00
5    14030            140       18.67
6    14031            680       12.81
7    14032            500       10.62
8    14033            190       15.32
9    14034            170       20.48
10   14043           2440       18.90
11   14047            530       17.10
12   14051           1230       11.34
13   14052           1280       13.81
14   14055            120       16.44
15   14057            620       14.83
16   14059            730       14.60
17   14068            470       12.98
18   14072           1710       15.11
19   14075           3840       16.42
20   14080            370       17.54
21   14085            620       15.31
22   14086           2730       14.61
23   14102            100       15.87
24   14111            270       17.42
25   14127           2250       13.69
26   14134             50       33.33
27   14139            190       16.10
28   14141            640       16.89
29   14150           4100       18.87
30   14170            210       17.21
31   14201            610       12.53
32   14202            250       13.97
33   14203            190       18.27
34   14204            440       12.36
35   14206           1380       14.73
36   14207           1210       11.83
37   14208            430       10.83
38   14209            530       15.32
39   14210            970       15.40
40   14211            880        9.51
41   14212            500       10.66
42   14213           1200       12.46
43   14214           1110       14.45
44   14215           2060       12.51
45   14216           2060       18.74
46   14217           2190       18.80
47   14219           1040       17.51
48   14220           2090       17.94
49   14221           3870       13.78
50   14222            960       16.19
51   14223           2270       18.58
52   14224           3700       16.84
53   14225           3430       19.26
54   14226           2150       14.64
55   14227           2180       18.30
56   14228           1500       14.49

##### Income 75k to 100k Table
- Primary Key: Zipcode
- Foreign Key: Zipcode

In [131]:
zip_75 = []
num_75 = []
perc_75 = []
for nn in _75to100:
    zip_75.append(nn[0])
    num_75.append(nn[2])
    perc_75.append(round(nn[3], 2))

In [132]:
cur.execute("DROP TABLE IF EXISTS Income_75k_to_100k")

In [133]:
cur.execute('''
        CREATE TABLE Income_75k_to_100k (
        Zipcode TEXT PRIMARY KEY,
        No_of_Returns INTEGER,
        Percentage REAL,
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode)
        )
        ''')

In [134]:
cur.executemany("""INSERT INTO Income_75k_to_100k (Zipcode, No_of_Returns, Percentage) VALUES (?, ?, ?)""", zip(zip_75, num_75, perc_75))

In [135]:
pd.read_sql_query('''SELECT * FROM Income_75k_to_100k''', conn)

   Zipcode  No_of_Returns  Percentage
0    14001            600       12.30
1    14004            710       12.82
2    14006            550       11.83
3    14025            220       13.84
4    14026             60       13.33
5    14030            100       13.33
6    14031            520        9.79
7    14032            430        9.13
8    14033            140       11.29
9    14034            110       13.25
10   14043           1450       11.23
11   14047            370       11.94
12   14051           1050        9.68
13   14052           1000       10.79
14   14055            120       16.44
15   14057            520       12.44
16   14059            590       11.80
17   14068            360        9.94
18   14072           1340       11.84
19   14075           2760       11.80
20   14080            260       12.32
21   14085            490       12.10
22   14086           2060       11.03
23   14102             80       12.70
24   14111            190       12.26
25   14127           1790       10.89
26   14134              0        0.00
27   14139            150       12.71
28   14141            430       11.35
29   14150           2580       11.87
30   14170            170       13.93
31   14201            290        5.95
32   14202            130        7.26
33   14203             90        8.65
34   14204            180        5.06
35   14206            630        6.72
36   14207            450        4.40
37   14208            160        4.03
38   14209            270        7.80
39   14210            450        7.14
40   14211            280        3.03
41   14212            200        4.26
42   14213            520        5.40
43   14214            570        7.42
44   14215            840        5.10
45   14216           1120       10.19
46   14217           1320       11.33
47   14219            710       11.95
48   14220           1170       10.04
49   14221           3130       11.14
50   14222            530        8.94
51   14223           1550       12.68
52   14224           2700       12.29
53   14225           1910       10.72
54   14226           1530       10.42
55   14227           1390       11.67
56   14228           1030        9.95

##### Income for 100k to 200k Table
- Primary Key: Zipcode
- Foreign Key: Zipcode

In [137]:
zip_100 = []
num_100 = []
perc_100 = []
for mm in _100to200:
    zip_100.append(mm[0])
    num_100.append(mm[2])
    perc_100.append(round(mm[3], 2))

In [138]:
cur.execute("DROP TABLE IF EXISTS Income_100k_to_200k")

In [139]:
cur.execute('''
        CREATE TABLE Income_100k_to_200k (
        Zipcode TEXT PRIMARY KEY,
        No_of_Returns INTEGER,
        Percentage REAL,
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode)
        )
        ''')

In [140]:
cur.executemany("""INSERT INTO Income_100k_to_200k (Zipcode, No_of_Returns, Percentage) VALUES (?, ?, ?)""", zip(zip_100, num_100, perc_100))

In [141]:
pd.read_sql_query('''SELECT * FROM Income_100k_to_200k''', conn)

   Zipcode  No_of_Returns  Percentage
0    14001            890       18.24
1    14004           1110       20.04
2    14006            680       14.62
3    14025            360       22.64
4    14026             90       20.00
5    14030            130       17.33
6    14031           1080       20.34
7    14032           1070       22.72
8    14033            310       25.00
9    14034            140       16.87
10   14043           1900       14.72
11   14047            530       17.10
12   14051           2830       26.08
13   14052           2210       23.84
14   14055            120       16.44
15   14057            900       21.53
16   14059           1250       25.00
17   14068            890       24.59
18   14072           2670       23.59
19   14075           4760       20.36
20   14080            430       20.38
21   14085           1110       27.41
22   14086           4620       24.73
23   14102            140       22.22
24   14111            240       15.48
25   14127           3730       22.70
26   14134             20       13.33
27   14139            260       22.03
28   14141            610       16.09
29   14150           3040       13.99
30   14170            260       21.31
31   14201            330        6.78
32   14202            200       11.17
33   14203            110       10.58
34   14204            180        5.06
35   14206            540        5.76
36   14207            300        2.93
37   14208            140        3.53
38   14209            370       10.69
39   14210            300        4.76
40   14211            200        2.16
41   14212            160        3.41
42   14213            510        5.30
43   14214            880       11.46
44   14215            650        3.95
45   14216           1520       13.83
46   14217           1730       14.85
47   14219            710       11.95
48   14220           1400       12.02
49   14221           6760       24.07
50   14222            830       14.00
51   14223           2150       17.59
52   14224           4180       19.03
53   14225           1830       10.28
54   14226           2740       18.65
55   14227           1600       13.43
56   14228           1790       17.29

##### Income Above 200k Table
- Primary Key: Zipcode
- Foreign Key: Zipcode

In [143]:
zip_200 = []
num_200 = []
perc_200 = []
for zz in above200:
    zip_200.append(zz[0])
    num_200.append(zz[2])
    perc_200.append(round(zz[3], 2))

In [144]:
cur.execute("DROP TABLE IF EXISTS Income_Above_200k")

In [145]:
cur.execute('''
        CREATE TABLE Income_Above_200k (
        Zipcode TEXT PRIMARY KEY,
        No_of_Returns INTEGER,
        Percentage REAL,
        FOREIGN KEY (Zipcode) REFERENCES Location (Zipcode)
        )
        ''')

In [146]:
cur.executemany("""INSERT INTO Income_Above_200k (Zipcode, No_of_Returns, Percentage) VALUES (?, ?, ?)""", zip(zip_200, num_200, perc_200))

In [147]:
pd.read_sql_query('''SELECT * FROM Income_Above_200k''', conn)

   Zipcode  No_of_Returns  Percentage
0    14001            200        4.10
1    14004            190        3.43
2    14006            110        2.37
3    14025             90        5.66
4    14026             20        4.44
5    14030              0        0.00
6    14031            790       14.88
7    14032            900       19.11
8    14033             80        6.45
9    14034              0        0.00
10   14043            240        1.86
11   14047            110        3.55
12   14051           1820       16.77
13   14052            990       10.68
14   14055             30        4.11
15   14057            210        5.02
16   14059            470        9.40
17   14068            410       11.33
18   14072            970        8.57
19   14075           1300        5.56
20   14080             90        4.27
21   14085            270        6.67
22   14086           1300        6.96
23   14102             40        6.35
24   14111             50        3.23
25   14127           2180       13.27
26   14134              0        0.00
27   14139             70        5.93
28   14141            130        3.43
29   14150            370        1.70
30   14170             90        7.38
31   14201            110        2.26
32   14202            250       13.97
33   14203             60        5.77
34   14204             30        0.84
35   14206             50        0.53
36   14207             30        0.29
37   14208              0        0.00
38   14209            280        8.09
39   14210             30        0.48
40   14211              0        0.00
41   14212              0        0.00
42   14213            100        1.04
43   14214            410        5.34
44   14215             70        0.43
45   14216            570        5.19
46   14217            320        2.75
47   14219            100        1.68
48   14220            140        1.20
49   14221           3280       11.68
50   14222            670       11.30
51   14223            330        2.70
52   14224            700        3.19
53   14225            130        0.73
54   14226           1190        8.10
55   14227            200        1.68
56   14228            610        5.89

In [148]:
conn.commit()
conn.close()

### Summary of SQL Database Design
- All tables have been normalized to 3NF
- Tables within the Erie County Database:
    - Location
    - Food Store
    - Establishment Type
    - Income Total
    - Income Under 25k
    - Income 25k to 50k
    - Income 50k to 75k
    - Income 75k to 100k
    - Income 100k to 200k
    - Income Above 200k